# Build output
bin/
obj/
publish/
installer/

# User-specific files
*.user
*.suo
.vs/

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Debug symbols
*.pdb

# NuGet
*.nupkg
packages/

# OS
Thumbs.db
Desktop.ini
.DS_Store
